name: Release
on:
  push:
    tags:
      - 'v[23]+.[0-9]+-[3-5].[05]-*'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set env
        run: |
          echo ::set-output name=STUDIO_VERSION::$(echo ${{ github.event.release.tag_name }} | cut -c 2- | cut -d'-' -f1)
          echo ::set-output name=TIZEN_VERSION::$(echo ${{ github.event.release.tag_name }} | cut -c 2- | cut -d'-' -f2)

      - name: Build and push Docker images for tags
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME1 }}
          password: ${{ secrets.DOCKER_PASSWORD1 }}
          repository: retzero/tizen-studio
          tags: ${{ github.event.release.tag_name }}
          build_args: STUDIO_VERSION=${STUDIO_VERSION},TIZEN_VERSION=${TIZEN_VERSION}
