name: Build
on:
  push:
    branches:
      - '*'
  pull_request:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup local registry on push
        run: |
          docker run -d -p 5000:5000 registry:2
    
      - name: Build Docker images for push
        uses: docker/build-push-action@v1
        with:
          registry: localhost:5000
          repository: temp/workflow
          build_args: STUDIO_VERSION=3.7,TIZEN_VERSION=5.5

